<template>
  <v-stepper v-model="currentStep">
    <v-stepper-header>
      <v-stepper-step :complete="currentStep > 1" step="1"> Shipping </v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="currentStep > 2" step="2"> Payment </v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="3"> Place Order </v-stepper-step>
    </v-stepper-header>
    <v-stepper-items>
      <v-stepper-content step="1">
        <v-card>
          <h1>Shipping step (01)</h1>
        </v-card>  
        <v-btn 
          color="primary"
          @click="currentStep = 2"
        >
        CONTINUE
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card>
          <h1>Payment step (02)</h1>
        </v-card>  
        <v-btn 
          color="primary"
          @click="currentStep = 3"
        >
        CONTINUE
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card>
          <h1>Payment step (03)</h1>
        </v-card>  
        <v-btn 
          color="primary"
          @click="currentStep = 1"
        >
        CONTINUE
        </v-btn>
      </v-stepper-content>

    </v-stepper-items>
  </v-stepper>
</template>

<script>
export default {
  name: 'Checkout',

  data: () => ({
    currentStep: 0
  }),
};
</script>
