<template>
    <v-sheet height="800">
    <v-calendar
        type="day"
        now="2019-04-08"
        value="2019-04-08"
        :events="events"
        @click:event="showEvent"
    >
    </v-calendar>
    <v-menu
        v-model="selectedOpen"
        :activator="selectedElement"
        offset-x
        >
        <v-card
            color="grey lighten-4"
            min-width="350px">
            <v-toolbar
                :color="selectedEvent.color"
                dark>
                <v-btn icon>
                    <v-icon> mdi-pencil </v-icon>
                </v-btn>
                <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                <v-divider></v-divider>                
            </v-toolbar>
            <v-card-text>
                <span v-html="selectedEvent.details"></span>
            </v-card-text>
            <v-card-actions>
                <v-btn
                    @click="selectedOpen = false"
                >
                CANCEL
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
    </v-sheet>
</template>


<script>
export default {
  name: 'EventManager',
  data: () => ({
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,  
    events: [
        {
            name: "Meeting 01",
            start: "2019-04-08 8:00",
            end: "2019-04-08 9:00",
            details: "some details"
        },
        {
            name: "Meeting 02",
            start: "2019-04-08 10:00",
            end: "2019-04-08 11:00",
        }
    ]    
  }),
  methods: {
    showEvent({ nativeEvent, event }) {
        const open= () => {
            this.selectedEvent = event;
            this.selectedElement = nativeEvent.target;
            this.selectedOpen = true;
        };
        
        if(this.selectedOpen) {
            this.selectedOpen = false;
        } else {
            open();
        }

        nativeEvent.stopPropagation();
    }
  }
}
</script>