<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    />

    <v-content>
      <EventManager/>
    </v-content>
  </v-app>
</template>

<script>
import EventManager from './components/EventManager';

export default {
  name: 'App',

  components: {
    EventManager,
  },

  data: () => ({
    //
  }),
};
</script>
